.page {
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-width: 288px;
  max-width: 880px;
}

@media screen and (max-width: 1023.98px) {
  .page {
    max-width: 581px;
  }
}

@media screen and (max-width: 635.98px) {
  .page {
    max-width: 320px;
    padding: 0 19px;
  }
}
