.sign {
  margin: auto;
  padding: 60px 0 112px; /*60px 0 80px;*/
  display: block;
  color: white;
  width: 358px;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 635.98px) {
  .sign {
    padding: 40px 0;
    width: 260px;
  }
}


.sign__title {
  margin: 0 auto;
  padding: 0 0 49px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

@media screen and (max-width: 635.98px) {
  .sign__title {
    padding: 0 0 40px;
    font-size: 20px;
    line-height: 24.2px;
  }
}


.sign__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start;
  height: 100%;
}


.sign__field {
  display: flex;
  flex-direction: column;
  margin: 0;
}


.sign__error {
  font-size: 12px;
  line-height: 1;
  color: #FF0000;
  opacity: 0;
  transition: 0.3s;
  min-height: 24px;
  max-height: calc((100vh - 400px - 30px*2) / 2);
  margin: 6px 0 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}


.sign__save-btn {
  margin: 185px 0 0;
  padding: 0;
  height: 50px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border: 0;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 2px;
  flex-shrink: 0;
  transition: opacity .4s ease-out;
}

.sign__save-btn:hover {
  opacity: .85;
}

@media screen and (max-width: 635.98px) {
  .sign__save-btn {
    margin: 142px 0 0;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}


.sign__save-btn_disabled {
  color: black;
  background: white;
  border: 1px solid #000000;
  border-radius: 2px;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




.sign__input {
  margin: 0;
  padding: 0 0 9px;
  border: 0;
  border-bottom: 2px solid #CCCCCC;
  width: 100%;
  max-height: 25px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  flex-shrink: 0;
  color: #FFFFFF;
}

.sign__input::placeholder {
  color: #CCCCCC;
  font-size: 14px;
  line-height: 17px;
}

.sign__input:focus {
  outline: none;
  border-bottom-color: #FFFFFF;
}




.sign__to-signin {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px 0 0;
  padding: 0;
}

.sign__link {
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .4s ease-out;
}

.sign__link:hover {
  opacity: .6;
}












