.profile__avatar-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, .8);
  background-image: url(../../../images/edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border-radius: 100%;
  opacity: 0;
  transition: opacity .4s ease-out;
}

.profile__avatar-btn:hover {
  opacity: 1;
}
