.header__login {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/*Мобильные версии — дополнительное задание. Будет реализовано по макету позже*/
@media screen and (max-width: 635.98px) {
  .header__login {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: end;
  }
}
