@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav-block/header__nav-block.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__login/header__login.css);

@import url(./blocks/signout-btn/signout-btn.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);

@import url(./blocks/placeholder-loading/placeholder-loading.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__footer/element__footer.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-btn/element__like-btn.css);
@import url(./blocks/element/__like-btn/_active/element__like-btn_active.css);
@import url(./blocks/element/__like-count/element__like-count.css);
@import url(./blocks/element/__trash-btn/element__trash-btn.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_photo.css);
@import url(./blocks/popup/__container/_type/popup__container_type_confirm.css);
@import url(./blocks/popup/__container/_type/popup__container_type_avatar.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_photo.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirm.css);
@import url(./blocks/popup/__photo/popup__photo.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/_type/form_type_login.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__save-btn/form__save-btn.css);
@import url(./blocks/form/__save-btn/_disabled/form__save-btn_disabled.css);
@import url(./blocks/form/__save-btn/_type/form__save-btn_type_login.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_login.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);

@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__link-block/login__link-block.css);
@import url(./blocks/login/__link/login__link.css);

body{
  background-color: #000000;
}
